/* Global Styles */
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
	   
	     url('VarelaRound-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato';
	src: url('Lato-Bold.ttf'); /* IE9 Compat Modes */
}

html, body {
	height: 100%;
	width: 100%;
	color: #7a7a7a;
	line-height: 24px;
	background: url("../img/bgWhite.png");
}

button, button:active, button:focus {
	outline: none;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0;
	padding: 20px 0
}

p, a {
	font-family: 'VerelaRound';
}

img {
	max-width: 100%;
}

#boxWrapp {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#loginWrapp {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	height: 100%;
}

.build {
	padding: 40px 0;
	margin: 0;
}

.build ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.btn-clear {
	border: 4px solid;
}

.btn {
	font-size: 14px;
}
/*on scroll show*/

/* =============================== header ===================================== */
.header {
	background: url(../img/bghead.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg',
		sizingMethod='scale');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/* slider */
.maskHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/pattern.png);
}

#flex-head h1 {
	font-family: cursive;
	font-weight: 700;
	font-size: 60px;
	margin: 0;
	padding: 10px 0;
	color: #fff;
}

#flex-head {
	margin: 0 0 32px 0;
	background: transparent;
	border: none;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	zoom: 1;
}

#flex-head h2 {
	font-family: 'VerelaRound';
	font-size: 24px;
	margin: 0;
	padding: 0 0 40px 0;
	color: #fff;
}

#flex-head .slides>li {
	position: relative;
}

#flex-head .flex-control-nav, #flex-head .flex-direction-nav {
	display: none;
}

.main-caption {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	text-align: center;
}

.btnAbout {
	color: #fff;
	font-size: 14px;
}

.btnAbout:hover {
	color: #fff;
}

.main-caption .btn-clear {
	padding: 14px 24px;
}

.main-caption .btn-clear:hover {
	border-color: #fff;
}

.newUser {
	height: 100%;
}

.login {
	float: left;
	color: #f24971;
	line-height: 48px;
	font-family: 'VerelaRound';
	font-size: 14px;
	text-transform: uppercase;
}

.loginAdmin {
	width: 250px;
	text-align: center;
	padding: 0 20px 0 20px;
	text-transform: capitalize;
	font-size: 20px;
}

.login p {
	margin: 0;
	padding-left: 20px;
}

.login a {
	text-transform: none;
	font-size: 13px;
	color: yellow;
	padding: 15px;
}

.login a:HOVER {
	text-decoration: hone;
	color: #deff22;
}

.enterLogin {
	min-height: 100%;
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.formEnterLogin {
	display: block;
	text-align: center;
	padding-top: 40px;
}

.formEnterLogin button {
	width: 120px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
}

.enterLogin input {
	width: 250px;
}

.formEnterLogin a:HOVER {
	text-decoration: none;
	color: #85004B;
	text-transform: uppercase;
}

.newUserPage {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
}

.emailPage {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.emailPage input {
	width: 250px;
}

.emailPage button {
	width: 120px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
}

.formNewUser {
	display: block;
	text-align: center;
	padding-top: 40px;
}

.formNewUser button {
	width: 180px;
	height: 40px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
}

.formNewUser input {
	width: 300px;
	margin-bottom: 10px;
}

.formNewUser a:HOVER {
	text-decoration: none;
	color: #85004B;
	text-transform: uppercase;
}

.toAdmin {
	padding-left: 40px;
	line-height: 48px;
	font-family: 'VerelaRound';
	font-size: 14px;
	float: left;
}

.PageAdmin {
	height: 100%;
}

.AdminPage {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

.Adminpanel {
	margin-top: 50px;
	min-height: 100%;
	padding-bottom: 20px;
	padding: 10px;
}

.enterAdmin a {
	display: block;
	border: 3px solid #101010;
	border-radius: 30px;
	background-color: #f24971;
	color: white;
	cursor: pointer;
	width: 400px;
	height: 45px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	font-size: 26px;
	text-shadow: 1px 1px 1px blue;
	box-shadow: 1px 1px 2px #ffff00;
	font-family: ' "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.enterAdmin a:HOVER {
	color: white;
	text-decoration: none;
	border: 4px solid #400080;
	font-size: 25px;
	background-color: #960F2F;
	text-shadow: -1px -1px 1px #00ff00;
	box-shadow: -1px -2px 2px #ffff00;
}

.dostavaka {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

.dostavkaPage {
	margin-top: 10px;
	min-height: 100%;
	padding-bottom: 20px;
	padding: 10px;
	text-align: center;
}

.tableshowdostavka {
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

.tableshowdostavka table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	*border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

.bordered {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered td a {
	color: blue;
}

.bordered td a:HOVER {
	color: #f24971;
	text-decoration: none;
}

.bordered td, .bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 15px;
	text-align: center;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc),
		to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.newTransporter {
	display: block;
	text-align: center;
	padding-top: 10px;
}

.newTransporter button {
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
}

.newTransporter input {
	width: 250px;
	margin: 0 35px 20px 10px;
}

.newTransporter button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.editTransporter {
	display: block;
	text-align: center;
	padding-top: 10px;
}

.editTransporter button {
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
}

.editTransporter input {
	width: 250px;
	margin: 0 35px 20px 10px;
}

.editTransporter button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.users {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

.usersPage {
	margin-top: 10px;
	height: 100%;
	padding-bottom: 20px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.listUser {
	float: left;
	width: 850px;
}

.tableUsers {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
}

.tableUsers th {
	background: #BCEBDD;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
}

.tableUsers th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

.tableUsers th:first-child, td:first-child {
	text-align: left;
}

.tableUsers th:first-child {
	border-top-left-radius: 10px;
}

.tableUsers th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

.tableUsers td {
	padding: 10px 10px;
}

.tableUsers a {
	color: blue;
}

.tableUsers a:HOVER {
	color: red;
	text-decoration: none;
}

.tableUsers tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

.tableUsers tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.tableUsers tr td:last-child {
	border-right: none;
}

.tableUsers tr {
	background: #f7f8e2;
}

.tableUsers tr:hover {
	background: #fedafc;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

td.editdel {
	margin: 0;
	padding: 0;
}

.editdel a {
	padding: 13px 7px;
	height: 100%;
}

.editdel a:HOVER {
	background: #ffd8d2;
	height: 100%;
}

.roles {
	float: right;
	width: 300px;
	text-align: center;
}

hr {
	margin: 10px;
}

.roles button {
	width: 100px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	height: 30px;
}

.roles button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.rolesTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	margin: 0 auto;
	text-align: center;
}

.rolesTable th {
	background: #d10be1;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
}

.rolesTable th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

.rolesTable th:first-child, td:first-child {
	text-align: left;
}

.rolesTable th:first-child {
	border-top-left-radius: 10px;
}

.rolesTable th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

.rolesTable td {
	padding: 10px 20px;
	background: #c0eef1;
}

.rolesTable tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

.rolesTable tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.rolesTable tr td:last-child {
	border-right: none;
}

.rolesTable tr:hover {
	background: #00ff40;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.adminNewUser {
	clear: both;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0 5px 10px 5px;
}

.adminNewUser button {
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px; margin 20px 10px;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
}

.adminNewUser input {
	width: 200px;
	margin: 0 35px 20px 10px;
}

.adminNewUser button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.forselects {
	width: 150px;
	margin: 0 35px 20px 10px;
}

.editUsersform {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0 5px 10px 5px;
}

.editUsersform button {
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px; margin 20px 10px;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
}

.editUsersform input {
	width: 200px;
	margin: 0 35px 20px 10px;
}

.editUsersform button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.tableShowProduct {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	color: #1c0217;
	width: 100%;
}

.tableShowProduct tr:hover {
	background: #cbfbc6;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	color: #020713;
}

.tableShowProduct td a {
	color: blue;
}

.tableShowProduct td a:HOVER {
	color: #f24971;
	text-decoration: none;
}

.tableShowProduct td, .tableShowProduct th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 15px;
	text-align: center;
}

.tableShowProduct th {
	background-color: #ef65db;
	color: #0C1B29;
	text-shadow: 0px 3px 3px red;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.tableShowProduct td:first-child, .tableShowProduct th:first-child {
	border-left: none;
}

.tableShowProduct th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.tableShowProduct th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.tableShowProduct tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.tableShowProduct tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

td.editdelprod {
	padding: 0;
	width: 75px;
}

td.editdelprod a {
	padding: 15px 20px;
	color: #054b03;
}

td.editdelprod a:HOVER {
	background: #5bf7a5;
	color: #003900;
	text-shadow: 1px 1px 2px #fd80ea;
}

.productAllList {
	width: 900px;
	margin: 0 auto;
}

.productList {
	min-height: 100%;
	padding: 40px;
	margin-bottom: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

.productsPage {
	margin-top: 10px;
	min-height: 100%;
	padding-bottom: 20px;
	padding: 10px;
	text-align: center;
}

td.photoTable {
	width: 70px;
	padding: 2px;
	margin: 0;
}

td.description {
	width: 200px;
	font-size: 12px;
}

.addProuctLink {
	width: 500px;
	text-align: center;
	margin: 10px auto;
}

.addProuctLink a {
	text-align: center;
	line-height: 40px;
	display: block;
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
	margin: 20px auto;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
	border: 1px solid #400080;
	text-shadow: 1px 1px 1px blue;
}

.addProuctLink a:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
	text-shadow: -1px -1px 1px red;
}

.clear {
	clear: both;
	padding-top: 20px;
}

.newProducts {
	float: left;
	width: 600px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0 5px 10px 5px;
	border: 1px solid #d5d5d5;
}

.newProducts button {
	width: 300px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px; margin 20px 10px;
	font-size: 16px;
	font-weight: 300;
	height: 40px;
}

.newProducts input {
	width: 200px;
	margin: 0 35px 20px 10px;
}

.newProducts button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.enterProductOne {
	float: left;
	width: 220px;
}

.descriptionProduct {
	float: right;
	width: 300px;
	padding-right: 5px;
}

.text-descript {
	width: 97%;
}

.upload {
	clear: both;
	margin: 20px;
	padding: 20px;
	text-align: center;
	display: block;
	border: 1px solid #b5b5b5;
}

.upload input {
	width: 250px;
	height: 50px;
	margin: 0 auto;
	padding-top: 15px;
}

.fontMax font {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}

.typsforProduct {
	float: right;
	width: 230px;
	margin: 10px 30px 10px 20px;
	padding: 5px;
	text-align: center;
	border: 1px solid #d5d5d5;
}

.typsforProduct input {
	width: 90%;
}

.typsforProduct button {
	width: 100px;
	color: white;
	background-color: #992667;
	text-transform: uppercase;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	height: 30px;
}

.typsforProduct button:HOVER {
	text-decoration: none;
	color: yellow;
	text-transform: uppercase;
	background-color: #b72d7c;
}

.typsTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	margin: 0 auto;
	text-align: center;
}

.typsTable th {
	background: #d10be1;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 2px 2px;
	text-align: center;
}

.typsTable th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

.typsTable th:first-child, td:first-child {
	text-align: center;
}

.typsTable th:first-child {
	border-top-left-radius: 10px;
}

.typsTable th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

.typsTable td {
	padding: 2px 2px;
}

.typsTable tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

.typsTable tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.typsTable tr td:last-child {
	border-right: none;
}

.typsTable tr {
	background: #ecffff;
}

.typsTable tr:hover {
	background: #c6ffff;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.new-Products {
	width: 80%;
	margin: 10px;
}

.newpages {
	height: 100%;
	width: 90%;
	margin: 2px auto;
	margin-bottom: 20px;
}

.add-Product-form {
	width: 1100px;
	margin: 5px auto;
	height: 600px;
}

.edit-Photo-Product {
	display: block;
	float: left;
	width: 220px;
	height: 150px;
	margin-left: 10px;
	border: 1px solid grey;
}

.add-Product-form h2 {
	width: 250px;
	margin: 0 auto;
}

.description-Product {
	float: right;
	width: 350px;
}

.upload-to-edit {
	clear: both;
	width: 240px;
}

.upload-to-edit input {
	width: 100%;
	padding: 1px 1px 1px 3px;
	margin-bottom: 0;
}

.for-id {
	float: right;
	margin-right: 50px;
}

.edit-Products {
	width: 600px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0 auto;
	border: 1px solid #d5d5d5;
	height: 470px;
}

.enter-Product-One {
	float: left;
	width: 300px;
}

.enter-Product-One input {
	width: 250px;
	margin-bottom: 20px;
}

.for-selects {
	float: right;
	width: 250px;
	margin-right: 10px;
}

.for-select {
	margin-right: 10px;
	width: 170px;
}

.edit-Products button {
	clear: right;
	text-transform: uppercase;
	color: white;
	background-color: #992667;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 40px;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	width: 180px;
	text-shadow: 1px 1px 1px blue;
}

.edit-Products button:HOVER {
	text-decoration: none;
	color: #80fe01;
	text-transform: uppercase;
	background-color: #b72d7c;
	border: 1px solid #400080;
}

.descr-Product-form {
	width: 1100px;
	margin: 5px auto;
	height: 600px;
}

.descr-Products {
	width: 800px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0 auto;
	border: 1px solid #d5d5d5;
	
}

.descr-Photo-Product {
	display: block;
	float: left;
	width: 400px;
	min-height: 230px;
	margin-left: 10px;
	border: 1px solid grey;
}

.for-text-descr {
	clear: both;
    padding-top: 15px;
}

.text-Description {
	display: block;
	background: white;
	border: 1px solid #d5d5d5;
	
	width: 80%;
	margin: 10px auto;
	padding: 15px 5px 15px;
	min-height: 190px;	
}

.ordering {
	display: block;
	float: right;
	width: 45%;
	height: 200px;
	padding: 5px;
}
.count-Product {
	padding: 10px;
	
}
.count-Product input {
	width: 40px;
	margin: 10px;
}

.ordering button {
	clear: right;
	text-transform: uppercase;
	color: white;
	background-color: #992667;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 40px;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	width: 280px;
	text-shadow: 1px 1px 1px blue;
}

.ordering button:HOVER {
	text-decoration: none;
	color: #fef807;
	text-transform: uppercase;
	background-color: #b72d7c;
	text-shadow: 1px 1px 1px #00ff40;
	border: 1px solid #400080;
}

.order-cart {
	display: block;
	float: right;
	width: 500px;
	min-height: 170px;
}

.order-table  {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	margin: 0 auto;
	text-align: center;
}

.order-table img {
	width: 100px;
	margin: 5px;
}

.order-table th {
	background: #d10be1;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 2px 2px;
	text-align: center;
}

.order-table  th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

.order-table  th:first-child, td:first-child {
	text-align: center;
}

.order-table  th:first-child {
	border-top-left-radius: 10px;
}

.order-table  th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

.order-table td {
	padding: 2px 2px;
}

.order-table  tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

.order-table  tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.order-table  tr td:last-child {
	border-right: none;
}

.order-table  tr {
	background: #ecffff;
}

.order-table  tr:hover {
	background: #c6ffff;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.order-table a {
	color: black;
	font-weight: bold;
}
.order-table a:HOVER {
	text-decoration: none;
	color: red;
}

.order-enter-userform {
	display: block;
	width: 450px;
	float: left;
	text-align: right;
}

.order-enter-userform input {
	width: 300px;
	margin: 5px auto 5px 15px;
	
}

.title-table {
	text-align: center;
}

.ordering-page {
	width: 1000px;
	display: block;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 5px auto;
	
	border: 1px solid #d5d5d5;
}

.order-dostavka {
	float: right;
	width:  300px;
	height: 75px;
	margin: 20px 15px;
}

.order-dostavka select {
	width: 170px;
	height: 30px;
	font-size: 18px;
	color: #014518;
	margin-top: 7px;
	
}
.for-button {
	clear: both;
}

.for-button button{
	
	text-transform: uppercase;
	color: white;
	background-color: #992667;
	border-color: #992667;
	border-radius: 20px;
	margin-top: 40px;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	width: 280px;
	text-shadow: 1px 1px 1px blue;
}

.for-button button:HOVER {
	text-decoration: none;
	color: #fef807;
	text-transform: uppercase;
	background-color: #b72d7c;
	text-shadow: 1px 1px 1px #00ff40;
	border: 1px solid #400080;
}



.order-page {
	display: block;
	width: 1200px;
	min-height: 100%;
	margin-top: 10px;
	padding-bottom: 20px;
	padding: 10px;
	margin-bottom: 20px;
	margin: 5px auto 20px auto;
	
}

.order-List {
	
	min-height: 100%;
	padding: 5px;
	
	padding-bottom: 20px;
	overflow: overlay;
}

.table-show-order {
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	color: #1c0217;
	width: 100%;
}

.table-show-order tr:hover {
	background: #cbfbc6;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	color: #020713;
}

.table-show-order td a {
	color: blue;
}

.table-show-order td a:HOVER {
	color: #f24971;
	text-decoration: none;
}

.table-show-order td, .tableShowProduct th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
}

.table-show-order th {
	font-size: 13px;
	text-align: center;
	background-color: #f5a3e9;
	color: #0C1B29;
	text-shadow: 0px 3px 3px red;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.table-show-order td:first-child, .tableShowProduct th:first-child {
	border-left: none;
}

.table-show-order th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.table-show-order th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.table-show-order tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.table-show-order tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.table-show-order tbody {
	font-size: 12px;
}

.shopping {
	    float: right;
  
    width: 40px;
    margin-right: 5px;
    margin-left: 15px;
}


/* ==============================================================  Menu ======================================================= */
.main-nav {
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	min-height: 54px;
	z-index: 99;
}

.navbar {
	border-radius: 0px;
	min-height: 54px;
	margin-bottom: 0px;
	width: 100%;
	z-index: 99;
	border: none;
}

a.navbar-brand {
	float: left;
	height: inherit;
	padding: 3px 15px;
	font-size: 18px;
	line-height: 48px;
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-nav>li>a {
	padding-top: 16px;
	padding-bottom: 13px;
	border-bottom: 5px solid transparent;
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li.current>a {
	text-decoration: none;
}

.navbar-nav>li.current>a, .navbar-inverse .navbar-nav>li>a:hover {
	background: rgba(255, 255, 255, 0.1);
}

/* ========================================= title page ==================================== */
.title-page {
	color: #7a7a7a;
}

.title-page h2 {
	position: relative;
	margin: 0;
	z-index: 77;
	padding: 0 0 20px 0;
	font-size: 36px;
	font-weight: 600;
	font-famiily: 'Lato';
}

.line-title {
	width: 40px;
	height: 8px;
	margin: 0 auto;
}

/* Full Page Image Header Area */
.header {
	position: relative;
}

.linear {
	transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
}
/* Intro */
.myfooter {
	clear: both;
	margin-bottom: 0;
	height: 50px;
}

.page {
	padding: 40px 0;
	position: relative;
	border-bottom: 5px solid #dedede;
}

.page:last-of-type {
	border-bottom: none;
	padding: 120px 0;
}

.page-bgcolor {
	background: #f2f2f2;
}
/* ================================================= about us ================================================== */
.about-content {
	text-align: center;
}

.about-content p {
	font-size: 18px;
	padding-bottom: 20px;
	margin: 0;
}

.avatar img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.main-about img {
	margin-right: 20px;
}

.main-about .btn-clear {
	padding: 14px 24px;
}

.main-about .btn-clear:hover {
	color: #fff;
}

.col-md-9 {
	width: 100%;
}
/*==================progress========================*/
.progress {
	height: 9px;
	background-color: #dadfe1;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	clear: both;
	margin: 6px 0 16px 0;
	overflow: inherit;
}

.progress-bar {
	position: relative;
	transition: all 200ms linear !important;
	-webkit-transition: all 200ms linear !important;
	-moz-transition: all 200ms linear !important;
	-ms-transition: all 200ms linear !important;
	-o-transition: all 200ms linear !important;
}

.wrapp-progress {
	position: relative;
	padding-top: 24px;
}

.wrapp-progress p {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #444444;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 24px;
	position: absolute;
	left: 0;
	top: 0px;
}

.precent-value {
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	position: absolute;
	right: -25px;
	top: -30px;
	height: 24px;
	width: 50px;
	background: #1d1d1d;
	border-radius: 3px;
	font-family: 'VerelaRound';
}

.progress-bar i {
	font-size: 24px;
	color: #1d1d1d;
	position: absolute;
	right: -7px;
	top: -16px;
}

.progress {
	clear: both;
}

/* ============================================== Portfolio ================================================================= */
ul#filterOptions {
	margin: 0;
	padding: 40px 0 0 0;
	list-style: none;
	display: table;
}

ul#filterOptions li {
	float: left;
	margin-right: -1px;
}

ul#filterOptions li span {
	padding: 10px 12px;
	display: block;
	color: #c4c4c4;
	padding: 0 10px;
	font-family: 'VerelaRound';
}

ul#filterOptions li a {
	color: #c4c4c4;
	font-size: 18px;
	padding: 0;
}

ul#filterOptions li.cur a:hover {
	color: #1d2127;
}

ul#filterOptions li a:hover {
	text-decoration: none;
}

.folio-content {
	height: auto;
}

ul.container_folio {
	overflow: hidden;
}

ul.container_folio li.box {
	overflow: hidden;
	height: auto;
	display: block;
}

.box img {
	max-width: 100%
}

.portfolio-item .thumbnail {
	margin: 0;
	position: relative;
}

.linear {
	transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
}

.thumb-img {
	position: relative;
	overflow: hidden;
	background: #000;
}

.thumb-img img {
	display: block;
	width: 350px;
	height: 265px;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}

.thumb-img:hover img, .link-attr:hover .thumb-img>img {
	-webkit-transform: scale(1.05, 1.07);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.05, 1.07);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}

.thumb-img:hover img {
	opacity: 0.7;
}

.folio-img {
	padding: 15px 0;
}

.folio-caption {
	position: absolute;
	bottom: -58px;
	left: 0;
	background: #fff;
	width: 100%;
	max-height: 48px;
}

.folio-caption p {
	color: #1d2127;
	padding: 15px;
	margin: 0;
	text-align: center;
	font-size: 18px;
}

.folio-caption i {
	position: absolute;
	top: -9px;
	left: 50%;
	font-size: 32px;
	line-height: 9px;
	margin-left: -9px;
	color: #fff;
}

.portfolio-item {
	margin: 0;
	padding: 0 0;
}

.main-folio {
	margin: 0 auto;
	width: 100%;
	padding: 40px 0;
	position: relative;
	overflow: hidden;
}

.container_folio {
	margin: 0 0 0 0;
	padding: 0 0 40px 0;
	list-style: none;
	width: 100%;
	clear: both;
	position: relative;
	overflow: hidden;
}

.col-md-12 {
	clear: both;
}

.img-portfolio {
	margin: 0;
}

div.link {
	visibility: hidden;
	position: absolute;
	top: 0;
	color: #fff;
	font-size: 14px;
}

.thumbnail {
	border-radius: 0px;
}

.link-attr {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	text-align: center;
	z-index: 88;
}

.link-attr a {
	border: 3px solid #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	width: 48px;
	height: 48px;
	background: transparent;
	padding: 10px 12px;
	color: #fff;
	animation-duration: 750ms;
	-webkit-animation-duration: 750ms;
	-moz-animation-duration: 750ms;
	-ms-animation-duration: 750ms;
	-o-animation-duration: 750ms;
	animation-iteration-count: backwards;
	-webkit-animation-iteration-count: backwards;
	-moz-animation-iteration-count: backwards;
	-ms-animation-iteration-count: backwards;
	-o-animation-iteration-count: backwards;
	-webkit-animation-delay: 500ms;
	-moz-animation-delay: 500ms;
	-ms-animation-delay: 500ms;
	-o-animation-delay: 500ms;
	display: none;
}

.link-search {
	position: absolute;
	left: 50%;
	top: -24px;
	margin-left: -55px;
}

.link-chain {
	position: absolute;
	right: 50%;
	top: -24px;
	margin-right: -55px;
}

.link-attr a i {
	font-size: 21px;
}
/*=================contact====================*/
.main-contact {
	padding: 40px 0;
}

.contact-info p span {
	width: 24px;
	height: 24px;
	text-align: center;
}

.contact-info .fa {
	font-size: 18px;
	vertical-align: middle;
	margin-right: 20px;
}

.contact p {
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 0;
}

.contact span {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border: 4px solid #7a7a7a;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 36px;
	line-height: 53px;
	margin-bottom: 20px;
}

.contact p a {
	color: #7a7a7a;
}

.contact p a:hover {
	text-decoration: none;
}
/* Footer */
footer {
	clear: both;
	color: #ffffff;
	padding: 10px 0;
}

.cp-right P {
	margin: 0;
	padding: 10px 0;
}

.cp-right P a {
	text-decoration: none;
}

.cp-right P a:hover {
	color: #fff;
}

.top-scroll {
	margin: 0;
	padding: 0;
}

.top-scroll a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 92px;
	line-height: 48px;
}

.top-scroll a:hover {
	color: #fff;
}

i.scroll {
	color: #fff;
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -28px;
}

i.scroll:hover {
	color: #fff;
}

/* ========================================== Footer ======================================================= */
.list-inline {
	text-align: right;
	margin: 0;
}

.list-inline>li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

.list-inline>li a i {
	vertical-align: middle;
	line-height: 41px;
}

.socIcon {
	display: block;
	color: #fff;
	animation-duration: 750ms;
	-webkit-animation-duration: 750ms;
	-moz-animation-duration: 750ms;
	-ms-animation-duration: 750ms;
	-o-animation-duration: 750ms;
	-webkit-animation-delay: 1000ms;
	-moz-animation-delay: 1000ms;
	-ms-animation-delay: 1000ms;
	-o-animation-delay: 1000ms;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
}

.socIcon:hover {
	color: #fff;
}
/* ========================================== modal ======================================================= */
body.modal-open {
	margin-right: 0px !important;
	overflow: scroll;
}
/* ========================================== Responsive ======================================================= */
@media screen and (min-width:240px) and (max-width: 991px) {
	.cp-right, ul.list-inline {
		text-align: center;
	}
	i.scroll {
		color: #fff;
		position: relative;
		top: 0;
		left: 0;
		margin-left: 0;
	}
	.main-about img {
		margin-right: 0;
	}
	.main-avatar {
		margin-bottom: 20px;
	}
	.about-content {
		text-align: center;
	}
	.about-content p {
		text-align: left;
	}
}

@media screen and (min-width:768px) and (max-width: 991px) {
	.link-attr a {
		width: 36px;
		height: 36px;
		padding: 5px 10px;
	}
	.link-attr a i {
		font-size: 12px;
	}
}

@media ( min-width : 768px) {
	.navbar-nav {
		float: none;
	}
}

@media screen and (min-width:768px) and (max-width: 1199px) {
	.folio-caption p {
		font-size: 12px;
	}
}

@media screen and (min-width:240px) and (max-width: 767px) {
	ul.container_folio {
		text-align: center;
	}
	ul.container_folio li.box {
		margin: 0;
		padding: 0 15px;
		width: 100%;
		max-width: 380px;
		display: inline-block;
		float: none;
	}
	.navbar ul.pull-right {
		float: none !important;
	}
	.navbar-inverse .navbar-nav>li>a.btn, .navbar-inverse .navbar-nav>li span
		{
		display: none;
	}
	.navbar-toggle {
		margin-top: 25px;
	}
}

@media screen and (min-width:240px) and (max-width: 480px) {
	.contact p {
		font-size: 14px;
	}
	.link-attr a {
		width: 36px;
		height: 36px;
		padding: 5px 10px;
	}
	.link-attr a i {
		font-size: 12px;
	}
}

@media screen and (min-width:768px) and (max-width: 1024px) {
	.logo img {
		
	}
	#flex-head h1 {
		font-size: 48px;
	}
	#flex-head h2 {
		font-size: 18px;
	}
	.main-caption .btn-clear, .main-about .btn-clear {
		padding: 8px 14px;
	}
	.title-page h2 {
		font-size: 24px;
	}
}

@media screen and (min-width:481px) and (max-width: 767px) {
	footer {
		margin-bottom: 0;
	}
	.logo img {
		width: 15%;
	}
	#flex-head h1 {
		font-size: 36px;
	}
	#flex-head h2 {
		font-size: 14px;
		padding: 0 0 8px 0;
	}
	.main-caption .btn-clear, .main-about .btn-clear {
		padding: 8px 14px;
	}
	.title-page h2 {
		font-size: 18px;
	}
}

@media screen and (min-width:240px) and (max-width: 480px) {
	.logo img {
		width: 15%;
	}
	#flex-head h1 {
		font-size: 24px;
	}
	#flex-head h2 {
		font-size: 14px;
		padding: 0 0 8px 0;
	}
	.main-caption .btn-clear, .main-about .btn-clear {
		padding: 6px 14px;
	}
	.title-page h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 767px) and (min-width: 240px) {
	.navbar-toggle {
		margin-top: 10px;
	}
	.avatar {
		margin: 0 auto;
	}
}